  
<li>
	<p class="category" value="{{category}}">{{category}}</p>
	<h3 class="snack" value="{{snack}}">{{snack}}</h3>
	
	
	<button class="change-status" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}} Devour It!{{/if}}
	</button>
</li>
